<div class="introduction">
	{{ with .Site.Params.education }}
	<h4>Education</h4> <hr>

	{{- range $index, $education := $.Site.Params.education -}}
	<div class="year"><i>{{ $education.year }}</i></div>

	<ul>
		{{ range $elem_index, $edu := $education.paper }}
		<li>
			<!-- {{ if $edu.link }}
			<a href="{{ $edu.link }}" class="publications"> {{ $edu.company }}:  </a>
			{{ else }} -->
			<p class="publications"> {{ $edu.degree }}, </p>
			<!-- {{ end }} -->
			{{ $edu.name | markdownify }}.
		</li>
		{{ end }}
	</ul>
	{{- end -}}
	{{- end -}}
</div>
