<div class="introduction">
	{{ with .Site.Params.projects }}
	<h4>Open-source Projects</h4> <hr>
	<ul>
		{{- range $index, $projects_map := $.Site.Params.projects -}}

		{{ range $elem_index, $project := $projects_map.project }}
		<li>
			<a href="{{ $project.project_page }}" class="project"> {{ $project.name }}</a>

			{{ if or ($project.code_link) ($project.blog_link) }}
			<span class="code_blog">
				{{ with $project.code_link }}
				[<a href="{{ . }}">code</a>]
				{{ end }}

				{{ with $project.blog_link }}
				[<a href="{{ . }}">blog</a>]
				{{ end }}
			</span>
			{{ end }}

			{{ with $project.description }}
			<span class="project_description">
				{{ . | markdownify}}
			</span>
			{{ end }}

		</li>
		{{ end }}

		{{- end -}}
	</ul>
	{{ end }}
</div>
