<div class="introduction">
	{{ with .Site.Params.skills }}
	<h4>Skills</h4> <hr>
	<ul>
		{{- range $index, $skills_map := $.Site.Params.skills -}}

		{{ range $elem_index, $skill := $skills_map.skill }}
		<li>
			<a href="{{ $skill.link }}" class="project"> {{ $skill.name }}</a>

		</li>
		{{ end }}

		{{- end -}}
	</ul>
	{{ end }}
</div>
