<div class="introduction">
	{{ with .Site.Params.workExperience }}
	<h4>Work Experience</h4> <hr>

	{{- range $index, $workExperience := $.Site.Params.workExperience -}}
	<div class="year"><i>{{ $workExperience.year }}</i></div>

	<ul>
		{{ range $elem_index, $work := $workExperience.paper }}
		<li>
			{{ if $work.link }}
			<a href="{{ $work.link }}" class="publications"> {{ $work.company }}:  </a>
			{{ else }}
			<p class="publications"> {{ $work.company }}, </p>
			{{ end }}
			{{ $work.task | markdownify }}.

			<span class="collaborators">
				{{ $work.authors | markdownify }}
			</span>
		</li>
		{{ end }}
	</ul>
	{{- end -}}
	{{- end -}}
</div>
